{% extends 'coglivros/base_livros.html' %}
{% load static %}

{% block content %}
<div class="container__titulo">
    {% include 'coglivros/partials/_menu_superior.html' %}
    <h1 class="titulo">{{livro.nome}}</h1>
    <img class="imagem" src="{% static '/img/coglivros/' %}{{ livro.foto }}">
    <div class="container__textos">
        <p class="nome__livro">Nome do Livro: {{ livro.nome }}</p>
        <p class="genero__livro">Gênero do livro: {{ livro.genero }}</p>
        <p class="autor__genero">Autor do livro: {{ livro.autor }}</p>
        <p class="sinopse">Sinope: {{ livro.sinopse }}</p>
    </div>
</div> 



{% endblock %}